<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SoleStep">
        <activity
            android:name=".admin.UserManagementActivity"
            android:exported="false"
            android:theme="@style/Theme.SoleStep.Admin" />
        <activity
            android:name=".user.ProductReviewActivity"
            android:exported="false" />
        <activity
            android:name=".user.ProductDetailActivity"
            android:exported="false" />
        <activity
            android:name=".user.CartActivity"
            android:exported="false" />
        <activity
            android:name=".user.CheckoutActivity"
            android:exported="false" />
        <activity
            android:name=".user.CatalogActivity"
            android:exported="false" />
        <activity
            android:name=".user.MyOrdersActivity"
            android:exported="false" />
        <activity
            android:name=".user.OrderDetailActivity"
            android:exported="false" />
        <activity
            android:name=".user.QRPaymentActivity"
            android:exported="false" />
        <activity
            android:name=".user.MainActivity"
            android:exported="false" />

        <activity
            android:name=".authentication.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".authentication.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".authentication.SignUpActivity"
            android:exported="false" />

        <activity
            android:name=".admin.AdminDashboardActivity"
            android:exported="false"
            android:theme="@style/Theme.SoleStep.Admin">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>


        <activity
            android:name=".admin.AdminProductsActivity"
            android:exported="false"
            android:theme="@style/Theme.SoleStep.Admin" />
        <activity
            android:name=".admin.AdminOrderManagementActivity"
            android:exported="false"
            android:theme="@style/Theme.SoleStep.Admin" />
        <activity
            android:name=".admin.AdminCategoriesActivity"
            android:exported="false"
            android:theme="@style/Theme.SoleStep.Admin" />

    </application>

</manifest>
